# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Dependency directories
vendor/

# Go specific
*.log
*.tmp
.DS_Store
